

.div-col {
  background: #f0f8ff;
  padding: 0 .8rem;  
}


.title {
  justify-content: space-between;
  margin-top: .8rem;
  padding: 0 .8rem;  
  font-size: .8rem;
  text-shadow: 2px 2px 4px rgba(137, 151, 173, 0.5);
  padding-bottom: 0.5rem; 
}


