.list-first {
    padding-top: 5px;
    border-bottom: 1px solid #f7e0be;
}

.list-last {
    border-bottom: 1px solid #f7e0be;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    background-color: aliceblue;
    padding: 2rem 0;
    text-align: center;
}