.container {
    display: flex;
    justify-content: space-between; 
    background-color: aliceblue;
    padding: 2rem 1rem; 
}

.column {
    flex: 1; 
}

.badge {
    border-radius: 0.5rem;
    position: absolute;
    right: 0;
    margin-right: .2rem; 
    background-color: bisque;
}
